#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
}

html {
  background-color: #2a2a2a;
  color: #ffffff;
  font-family: 'Poppins', 'Open Sans';
}

.navbar {
  height: 50px;
  width: 100%;
  position: sticky;
  display: flex;
  justify-content: flex-end;
  top: 0;
  z-index: 1;
  padding-top: 20px;
}

.navbar-container {
  display: flex;
  justify-content: end;
  /* position: fixed; */
}

.navbar-container ul {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding-right: 50px;
}

.navbar-container li {
  list-style-type: none;
}

.navbar-container a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: large;
  color: #ffffff;
}

.navbar-container a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.navbar-container a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.about {
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  padding-bottom: 100px;
}

.info {
  height: 700px;
  width: 50%;
}

#name {
  font-weight: 600;
  font-size: 5rem;
  margin: 0;
  text-transform: uppercase;
}

#position {
  font-weight: 100;
  font-size: 3rem;
  margin: 0;
}

.info p {
  font-size: 22px;
  line-height: 1.6;
}

.my-image {
  height: 700px;
  width: 50%;
  display: flex;
  justify-content: center;
}

.my-image img {
  width: 455px;
  height: 682px;
  filter: grayscale(100%);
  z-index: 0;
}

.my-image img:hover {
  width: 455px;
  height: 682px;
  filter: grayscale(0%);
}

#resume-btn {
  margin: 10px 20px;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 300;
  font-size: 20px;
}

.projects {
  padding-top: 100px;
  /* background-color: #bdbdbd; */
  /* width: 100%; */
  position: relative;
}

.projects h2 {
  text-transform: uppercase;
}

.project-container {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

/* .project-card-img {
  width: 250px;
  height: 350px;
} */

.project-card {
  position: relative;
  width: 50%;
}

#exergram {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: 100% 0;
}

.project-card-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #272727;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  display: flex;
  justify-content: flex-start;
}

.project-card:hover .project-card-container {
  height: 50%;
}

.project-card-info {
  white-space: nowrap;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 80%;
  margin: 0;
  padding: 0;
}

.project-card-info p {
  font-size: 14px;
  font-weight: 200;
  margin: 0.5;
}
.project-card-info h4 {
  margin: 0;
}

.card-btn {
  font-family: sans-serif;
  margin: 10px 20px;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.project-all-btn {
  display: flex;
  justify-content: center;
}

.experiences {
  padding-top: 100px;
  padding-bottom: 100px;
}
.experiences h2 {
  text-transform: uppercase;
}

.experiences h4 {
  padding-top: 50px;
  text-transform: uppercase;
}

.logos {
  width: 300px;
  /* display: block; */
  display: inline-flex;
  align-self: center;
  justify-content: center;
}

.ibsc,
.generation,
.mcu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.certificates h4 {
  text-transform: uppercase;
  padding-top: 50px;
}

.slides {
  padding-top: 50px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 30px;
}

.footer-icon {
  display: flex;
  justify-content: space-around;
  width: 500px;
}
